extends layout

block content
 h1= title
 p 
  span.label 
   b name
  div #{name}
 p 
  span.label
   b zipcode
  div #{zipcode}
 p 
  span.label
   b road name addr
  div #{roadname_addr}
 p
  span.label
   b additional addr
  div #{additional_addr}